/* *{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
} */

.shipfootmain {

    width: 80%;
    padding: 25px 0px;
    margin-top: 30px;
    display: inline-block;
    
    left: 0;
    bottom: 0;
    text-align: center;
    margin-left: -30px;

}
.shipFooteritem {
    max-width: 1000px;
    margin: 0 auto;
}
.shipFooterbox ul {
    display: inline-block;
}
ul, ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.shipFooterbox li {
    display: inline-block;
    border-right: 2px solid #a2a2a2;
    padding: 0 10px;
}
.shipFooterbox  p {
    float: right;
    color: #4a4a4a;
    font-size: 15px;
}
.shipFooterbox li a {
    color: #4a4a4a;
    font-size: 14px;
    text-decoration: none;
}
@media only screen and (min-width: 768px) and (max-width: 1220px){
    .shipFooteritem {
        width: 90%;
    }
}
@media only screen and (max-width: 600px){
    .shipfootmain  {
        display: none;
     
    }
}