.mainContainer{
    width:80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.Leftdiv{
    width:63%;
    

}
.Rightdiv{
    width: 35%;
   margin-left: 20px;
}
.price{
    width:100%;
    background-color: #F4F4F4;
    padding:15px
}
.Total{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    border-bottom:1px solid #D6D6D6;
}
.textarea{
   width: 610px;
   height: 200px !important
}

@media screen and (max-width:1000px){
    .textarea{
        width: 310px;
        height: 200px !important
     }
     .Rightdiv{
         width: 100%;
     }
     .boxes{
         border: none !important;
     }
}