.div {
   margin-top: -200px;
   margin-right: 50px;
   
}

.div1 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Lato';
    color: #323232;
}
@media screen and (max-width:900px){
    .div {
       display: none
        
     }
     
}